
/* navigation bar */
nav{
    flex-direction: column;
}
nav ul{
    /* flex-direction: column; */
}


#nav ul li a{
    padding: 0px 7px;
}



/* home section */
#home{
    height: 300px;
    padding: 3px 65px;
}
#home::before{
    height: 380px;

}

#home p{
    font-size: 13px;
}



/*services Section Home Work  */
#services{
    flex-direction: column;
}


#services .box{
}





/* client Section */
#client{
    overflow: hidden;
}

/* Contact Section  */

/* footer section */

/* Utility class  */
.heading-primary{
    font-size: 25px;
}