

@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* CSS Variables */
:root {
    --navbar-height:59px;
}


/* navigation bar */
#nav{
    position: sticky;
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}



/* navbar logo and Image work dn here */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 70px;
    width: 70px;
    margin: 3px 6px;
}


/*  navbar list styling */
#nav ul{
    position: sticky;
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#nav::before{
    content: "" ;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#nav ul li{
    position: sticky;
    list-style: none;
    font-size: 1.3rem;
}

#nav ul li a{
    position: sticky;
    color: white;
    padding: 3px 22px;
    border-radius: 20px;
    display: block;
    text-decoration: none;
}


#nav ul li a:hover{
    color: rgb(20, 20, 20);
    background-color: white;
}


/* Section Home Work  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 415px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "" ;
    background:url('./bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;
}

#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif; 
}

/* Services Section */
#services{
    margin:0px 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding:0px 35px;
    margin: 0px 10px;
    border-radius: 28px;
    background: #f2f2f2;
    height: 300px;
    width: 33%;
}
#services .box img{
    height: 150px;
    cursor: pointer;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif; 
}





/* client Section */
#client-section{
    height: 350px;
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('https://cdn.pixabay.com/photo/2018/06/07/12/28/target-group-3460039_960_720.jpg');
    width: 100%;
    height: 100%;
    z-index:-1 ;
    opacity:0.2 ;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 120px;
}

.client-item{
    padding:1px 35px; ;
    margin: 0px 20px;
}




/* Contact Section  */
#contact{
 position: relative;   
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background: url('contact-us.jpg')center center/cover no-repeat;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
    font-family:serif; 
}
/* Utility class  */
.h-primary{
    /* font-family: 'Bree Serif', serif;  */
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    padding: 12px;
}


.h-secondary{
    font-family: 'Bree Serif', serif; 
    font-size: 2.1em;
    padding: 12px;
}

.btn1,
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn1{
    background-color: rgb(8, 62, 83);
    font-size: 1.2em;
}

.center{
    text-align: center;
}



/* scroll down work */
.scroll{
    height: 30px;
    width: 15px;
    border: 2px solid black;
    position: fixed;
    right:10%;
    bottom: 20%;
    border-radius: 50px;
    cursor: pointer;
}
.scroll::before,
.scroll::after{
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    border: 2px solid black;
    height: 5px;
    width: 5px;
    transform: translate(-50%, -100%)rotate(225deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll 1s ease-in-out infinite;
}

.scroll::after{
    top: 20%;
    animation-delay: .3s;
}

@keyframes scroll{
0%{
    opacity: 0;
}
30%{
    opacity: 1;
}
60%{
    opacity: 1;
}
100%{
    opacity: 0;
    top: 90%;
}
}